<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

<?php if (!isset($error)): ?>
    <?php if ($this->property('event')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.backend::lang.widgets.logs.event')) ?></h4>
        <p class="text-center"><a href="<?= Backend::url('system/eventlogs') ?>" style="text-decoration:none;"><?= $event ?></a></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('access')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.backend::lang.widgets.logs.access')) ?></h4>
        <p class="text-center"><a href="<?= Backend::url('backend/accesslogs') ?>" style="text-decoration:none;"><?= $access ?></a></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('request')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.backend::lang.widgets.logs.request')) ?></h4>
        <p class="text-center"><a href="<?= Backend::url('system/requestlogs') ?>" style="text-decoration:none;"><?= $request ?></a></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('total')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 0 0 0;">
        <h4><?= e(trans('indikator.backend::lang.widgets.logs.total')) ?></h4>
        <p class="text-center"><?= ($event + $access + $request) ?></p>
    </div>
    <?php endif ?>

    <div style="clear:both;"></div>
<?php else: ?>
    <p class="flash-message static warning"><?= e($error) ?></p>
<?php endif ?>
</div>
