<div class="report-widget" id="cache-sizes">
    <h3 style="margin-bottom:25px;"><?= e(trans($this->property('title'))) ?></h3>

<?php if (!isset($error)): ?>
    <div class="control-chart" data-control="chart-pie" data-size="200" data-center-text="<?= $all ?>" style="margin-bottom:15px;">
        <ul>
            <li data-color="#7e709a">cms/cache<span><?= $cache ?></span></li>
            <li data-color="#903030">cms/combiner<span><?= $combiner ?></span></li>
            <li data-color="#c4b004">cms/twig<span><?= $twig ?></span></li>
            <li data-color="#408080">framework/cache<span><?= $framework ?></span></li>
        </ul>
    </div>
    <button
        type="submit"
        data-request="<?= $this->getEventHandler('onClearCache') ?>"
        data-request-success="$('#cache-sizes').replaceWith(data.partial)"
        class="btn btn-default">
        <span class="fa icon-trash"></span> &nbsp; <?= e(trans('indikator.backend::lang.widgets.cache.clear')) ?>
    </button>

<?php else: ?>
    <p class="flash-message static warning"><?= e($error) ?></p>
<?php endif ?>
</div>
