<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

<?php if (!isset($error)): ?>
    <?php
    $count = count($users);
    if ($count < $this->property('logins')) $count = $count;
    else $count = $this->property('logins');

    for ($i = 0; $i < $count; $i++):
    ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= substr($users[$i]->created_at, 0, -3) ?></h4>
        <p><a href="<?= Backend::url('backend/users/update/'.$users[$i]->user_id) ?>" style="text-decoration:none;"><?= DB::table('backend_users')->where('id', $users[$i]->user_id)->pluck('login') ?></a></p>
        <?php if ($this->property('ip')): ?>
        <p class="description"><?= $users[$i]->ip_address ?></p>
        <?php endif ?>
    </div>
    <?php endfor ?>

    <div style="clear:both;"></div>
<?php else: ?>
    <p class="flash-message static warning"><?= e($error) ?></p>
<?php endif ?>
</div>